#home {
  background-color: #d9d0c1;
  background-image: url("../img/back.png");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*Teste busca*/

.busca{
  margin-top: 0px;
}

#campo_busca{
  border: 1px solid;
  border-radius: 5px; 
  color:#C0C0C0;
}

.idem {
  padding: 5px;
  border: 1px #DDD solid;
}
.idem:nth-child(1){
  width: 250px;
  border-radius: 10px 0px 0px 10px;
}
.idem:nth-child(2){
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align:left;
  color: white;
  background: #2a2a2a;
  border: 1px #2a2a2a solid;
  cursor: pointer;
  text-indent: -1.3px;
}
.idem:nth-child(1):focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 1px #DDD solid;
} 

/*FIM do Teste busca*/

#categories .one img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#categories .one .details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#categories .one:hover .details {
  cursor: pointer;
  background-color: var(--main-color-btn-hover);
}

#categories .one .details button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #2a2a2a;
  background: none;
  text-transform: none;
  border-bottom: 1px solid #2a2a2a;
  padding: 2.5px;
  transform: translateY(70px);
  transition: 0.3s ease;
}

#categories .one .details button:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#categories .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#categories .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#categories .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

/* Efeito do botão aparecendo de baixo */
.product .buy-btn {
  background: var(--main-color);
  transform: translateY(20px);
  opacity: 0;
  border-radius: 0.3rem;
  transition: 0.3s all;
}
.product:hover .buy-btn {
  transform: translateY(0px);
  opacity: 1;
}

.product .buy-btn:hover {
  background-color: var(--main-color-btn-hover);
}

/* Espaçamento entre as estrelas */
.stars {
  padding: 10px 0;
}

.stars i {
  font-size: 00.8rem;
  color: var(--stars-color);
}

/* Banner com efeito de Parallax: */
#parallaxBanner {
  background-image: url("/assets/img/banner/2.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 70px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* Efeito parallax: */
  background-attachment: fixed;
}

#parallaxBanner h4 {
  color: #d8d8d8;
}

#parallaxBanner h1 {
  color: white;
}

#parallaxBanner button {
  background-color: var(--main-color);
  color: white;
}

#parallaxBanner button:hover {
  background-color: var(--main-color-btn-hover);
}
